/* variables */
.col-lg-6 h1 {
  color: cadetblue; }

.col-lg-6 h2 {
  color: orange; }

.col-lg-6 h4 {
  color: black; }

.col-lg-6 h5 {
  color: white; }

.texto__encabezado {
    color: cadetblue; }
.texto__parrafo__parrafo--naranja {
    color: orange; }
.texto__parrafo__parrafo--negro {
    color: black; }

.tarjeta__titulo__titulo--rosa {
  color: pink; }

.tarjeta__titulo__titulo--negro {
  color: black; }

.tarjeta__titulo__titulo--blanco {
  color: white; }

.tarjeta__restaurant__restaurant--negro {
  color: black; }

.tarjeta__ubicacion {
  color: black; }

.tarjeta__miperfil__miperfil--rojo {
  color: red; }

.orange {
  color: orange; }

.black {
  color: black; }

.pink {
  color: pink; }

/* variables */
.col-lg-6 h2 {
  font-size: 15px;
  font-fontfamily: "poppins";
  font-weight: regular; }

.col-lg-6 h1 {
  font-size: 40px;
  font-fontfamily: "poppins";
  font-fontweight: bold; }

.col-lg-6 h4 {
  font-size: 10px;
  font-fontfamily: "poppins";
  font-fontweight: regular; }

.col-lg-6 h5 {
  font-size: 50px;
  font-fontfamily: "poppins";
  font-foontweight: bold; }

.tarjeta__titulo {
  fontsize: 50px; }

.tarjeta__restaurant {
  fontsize: 15px;
  fontweight: bold; }

.tarjeta__ubicacion {
  fontsize: 10px;
  fontweight: medium; }

.tarjeta__miperfil {
  fontsize: 30px;
  fontweight: medium; }

.tarjeta__form {
  fontsize: 30px;
  fontweight: regular; }

.texto__parrafo {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  text-align: left; 
  }

/*map-get*/
/* variables */
.col-50 {
  width: 50%; }

.btn, .btn--aceptar, .btn--cancelar, .btn--nada {
  width: 150px;
  height: 50px;
  border: 1px solid white;
  border-radius: 50px;
  color: black;
  background-color: white;
  text-align: center; }

.btn--aceptar {
  background-color: orange;
  color: white; }

.btn--cancelar {
  background-color: red;
  color: white; }

.btn--nada {
  background-color: blue;
  color: white; }

.scale {
  width: 800px;
  height: 450px;
  align-content: center;
  margin-left: 50px;
  margin-top: 40px;
  margin-bottom: 20px;
}

/*FOOTER*/
footer {
  background-color: #95A1C2;
  height: auto;
  width: 100vw;
  font-family: 'Quicksand', sans-serif;
  padding-top: 40px;
  color: #ffffff; }
  footer .footer-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center; }
    footer .footer-content p {
      max-width: 500px;
      margin: 10px auto;
      line-height: 28px;
      font-size: 14px; }

footer h3 {
  font-size: 28px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 48px; }

.redes {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px 10px 5px 10px; }
  .redes li {
    margin: 0 10px; }
  .redes a {
    text-decoration: none;
    color: #ffffff; }
    .redes a i {
      font-size: 40px; }

.imgCentrada {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  widht:600px;
  height: 450px; 
}

.video {
  margin-left: 50px;
  margin-right: 50px;
  width: 90%;
  height: 650px;
  position: center;
  justify-content: center;
  align-items: center; }   

.contenedor {
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 30px;
  margin-right: 30px; }
  .contenedor .txt {
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    text-align: center; }
    .contenedor .txt b {
      font-size: 20px;
      font-family: "Poppins", sans-serif; }   

section h1 {
  color: cadetblue;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 40px; 
}  
  section h1 .titulo2{
  color: cadetblue;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  margin-top: 40px;
  margin-bottom: 40px; 
  }
  section h2{
  color: #717EA3 ;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 32px;
  margin-top: 40px;
  margin-bottom: 40px; 
  }

article p {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 20px;
  font-family: "Lato", sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  text-align: left; 
}   

.subtitulo {
    font-size: 30px;
    font-family: "Poppins", sans-serif; 
    text-align: center;
  }
.subtitulo2 {
    font-size: 25px;
    font-family: "Poppins", sans-serif; 
    text-align: center;
  }

.txt-uno {
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 18px;
  font-family: "Lato", sans-serif;
  margin-left: 30px;
  margin-right: 30px;
  text-align: left; 
}


#tabla {
  width: 400px;
  background-color: #b6b8c3;
  padding: 30px;
  margin: auto;
  margin-top: 10px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000; 
}
  #tabla .items {
    width: 100%;
    background-color: #b6b8c3;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid whitesmoke;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: white; 
  }

#form-registro {
  width: 400px;
  background-color: #b6b8c3;
  padding: 30px;
  margin: auto;
  margin-top: 10px;
  border-radius: 4px;
  font-family: "Poppins", sans-serif;
  color: white;
  box-shadow: 7px 13px 37px #000; 
}
  #form-registro h4 {
    font-size: 22px;
    margin-bottom: 20px; 
  }
  #form-registro .items {
    width: 100%;
    background-color: #EEF0F9;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid whitesmoke;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    color: black;
  }
  #form-registro p {
    height: 40px;
    text-align: center;
    font-size: 18px; 
  }
  #form-registro a {
    color: white;
    text-decoration: none; 
  }
  #form-registro .boton {
    width: 100%;
    border: none;
    padding: 12px;
    color: black;
    margin: 16px 0;
    font-size: 16px; 
  }

#form-registro a:hover {
  color: white;
  text-decoration: underline; 
}

